<h1> Product Feed </h1>

<!--<button type="button" class="btn btn-default" ng-click="ProductCtrl.getCategories()">Product Categories</button>-->

<div class="form-group">
    <label for="categoryselect">Category </label>
    <select id="categoryselect" class="form-control" ng-model="ProductCtrl.selectedValue">
            <option value="{{items.categoryId}}" ng-repeat="items in ProductCtrl.categories">{{items.categoryDescription}}</option>
        </select>
</div>
<button type="button" class="btn btn-default btn-lg btn-block" ng-click="ProductCtrl.sortByCategories()">Get Products By Category</button>

<pre> {{ ProductCtrl.sorted | json }} </pre>


<div class="panel panel-default">
    <div class="panel-body">

    </div>
</div>